#### Step-By-Step
###### Step 1: Opening and reading a file.
###### Step 2: Reading a file from different types:   cvs, txt, xlsx ...ect.
###### Step 3: Converting different file types into the dataframe(colums/rows). 
###### Step 4: Verifiy the file headers, data type and data in th columns.
###### Step 5: Filtering and Sorting.

In [ ]:
###### Step 1:

# r for reading
# w for writing
# a for pending
# r+ for read and write

f = open ("C:/Diff/test.txt", "w")
print(f.name)
print(f.mode)
f.close()

In [ ]:
# This method will open and close the file when you leave this block of code. 

with open ("C:/Diff/test.txt", "r+") as f:
    file_contents = f.read()
    print(file_contents)

##### Step 2:


File Options: Reading a file from cvs, txt, xlsx ...ect.

Example:
df = pd.read_csv("mortality_wide.csv" )
df = pd.read_csv("mortality_wide.txt, delmiter="\t" )
df = pd.read_csv("mortality_wide.txt, delmiter="xxx" )
df = pd.read_lxsx("mortality_wide.xlsx" )

Stroke_Dataset_2015 = "C:/Diff/STROKEDatasets/2015_Mortality_Age35_Plus.csv"
poke = pd.read_csv(Stroke_Dataset_2015)
print(poke.head())

##### Step 3
Converting different file types into the dataframe(colums/rows). 

Example: Create a dataframe  
df = pd.DataFrame(Stroke_Dataset_2015)
df
 
###### Step 4:
Verifiy the file headers, tails,  data type  ect.

Options to use when analyzing data set:
 #df.tail(2)
 #df.shape  # print rows and columns in tuple.
 #rows, columns = df.shape
 #df.columns # will print all the column names.
 #df.DATE # will print the entire column called "DATE".
 #df[["DATE", "FUEL_COST_PER_GAL" ]]  # print multliple columns as a list.
 #print(df["ColumnName"][0:5]) # print top 5 columns.
 #print(df.ColumnName) # will print a column.
 print(df[["col1", "col2", "col"]])  # create a list of multiple columns and print. 

Options with accessing or getting data in the rows:
 #df[2:5]  # get row 2 - 4.
 #print(df.iloc[1])  get the first index.
 #print(df.iloc[1:4]) get the first - fourth.
 #print(df.iloc[2, 1])   get the value from of the second "[2, 1]" row in the first position or cell of the column.

for index, row in df.iterrows(): # getting or reading row by row. 
    print(index, row)

for index, row in df.iterrows(): # getting or reading row by row. 
    print(index, row["TRIP_METTERS"])

###### Filtering 
Using filter to get specific row that has specific key value
TRIP_METTERS is the column name.

df.loc[df["TRIP_METTERS"] == 250 ]
df.loc[df["TRIP_METTERS"] == "xxxxx"]

###### Sorting - Passing in column names.
ascending=[1,0]
1 means sort the first column asce
0 means sort the second column dece

#df.sort_values("TRIP_METTERS")
df.sort_values("TRIP_METTERS","GALLONS_USED", ascending=False)
df.sort_values(["TRIP_METTERS", "FUEL_COST"])
df.sort_values(["TRIP_METTERS", "FUEL_COST"], ascending=[1,0])

###### Adding Column 

 Adding column using init location
 : means select all rows in the columns
  1:5 means select column 1-5
 sum(axis=1) means adding honzontally 
 sum(axis=0) means adding vertically 

df["TOT"] = df.iloc[:, 1:7].sum(axis=1)
df.head()

###  How to creating a dataframe from lists in dictionaries

In [81]:
Milage_Tracker = {
"DATE": ["1/1/2023","1/2/2023","1/3/2023","1/4/2023","1/5/2023" ], 
"FUEL_COST_PER_GAL": [3.00, 3.00, 3.00, 3.00, 3.00 ],
"TRIP_METTERS": [200,220,250,300,315 ],
"MILES_TRAVELED": [20,30,50,50,15 ],
"GALLONS_USED": [2, 2, 4, 4, 1 ],
"FUEL_COST": [4,6, 10, 19,3 ],
"CO_PAYS_PER_MILE": [ .33, .33, .33, .33, .33  ]  
}

df = pd.DataFrame(Milage_Tracker)
df.head() # print the first two rows

,DATE,FUEL_COST_PER_GAL,TRIP_METTERS,MILES_TRAVELED,GALLONS_USED,FUEL_COST,CO_PAYS_PER_MILE
0,1/1/2023,3.0,200,20,2,4,0.33
1,1/2/2023,3.0,220,30,2,6,0.33
2,1/3/2023,3.0,250,50,4,10,0.33
3,1/4/2023,3.0,300,50,4,19,0.33
4,1/5/2023,3.0,315,15,1,3,0.33

In [ ]:
for index, row in df.iterrows(): # getting or reading row by row. 
    print(index, row)

In [ ]:
for index, row in df.iterrows(): # getting or reading row by row. 
    print(index, row["TRIP_METTERS"])

In [9]:
print(df.iloc[2, 1])

3.0

In [ ]:
#df.sort_values("TRIP_METTERS")
df.sort_values(["TRIP_METTERS", "FUEL_COST"])

In [66]:
import numpy as np
df.head()

,DATE,FUEL_COST_PER_GAL,TRIP_METTERS,MILES_TRAVELED,GALLONS_USED,FUEL_COST,CO_PAYS_PER_MILE,TOT_FUEL_COST
0,1/1/2023,3.0,200,20,2,4,0.33,3.0
1,1/2/2023,3.0,220,30,2,6,0.33,3.0
2,1/3/2023,3.0,250,50,4,10,0.33,3.0
3,1/4/2023,3.0,300,50,4,19,0.33,3.0
4,1/5/2023,3.0,315,15,1,3,0.33,3.0

In [86]:
# Adding column using init location
# : means select all rows in the columns
#  1:5 means select column 1-5
# sum(axis=1) means adding honzontally 
df["TOT"] = df.iloc[:, 1:7].sum(axis=1)
df.head()

,DATE,FUEL_COST_PER_GAL,TRIP_METTERS,MILES_TRAVELED,GALLONS_USED,FUEL_COST,CO_PAYS_PER_MILE,TOT
0,1/1/2023,3.0,200,20,2,4,0.33,229.33
1,1/2/2023,3.0,220,30,2,6,0.33,261.33
2,1/3/2023,3.0,250,50,4,10,0.33,317.33
3,1/4/2023,3.0,300,50,4,19,0.33,376.33
4,1/5/2023,3.0,315,15,1,3,0.33,337.33

### Reading files from URL
#### Sample code:

import pandas as pd
poll_url = 'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'
polls = pd.read_csv(poll_url)
polls

In [ ]:
import pandas as pd
poll_url = 'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'
polls = pd.read_csv(poll_url)
polls

### Reading the file stored locally in the c: dir.

In [7]:
import os

In [ ]:
# Must change the path -  forward \ to backward / 
import pandas as pd
test = "C:/Diff/Python/Stroke_Project/test.csv"
test = pd.read_csv(test)
test

In [14]:
# Using filter to get specific row that has specific key value
df.loc[df["TRIP_METTERS"] == 250 ]

,DATE,FUEL_COST_PER_GAL,TRIP_METTERS,MILES_TRAVELED,GALLONS_USED,FUEL_COST,CO_PAYS_PER_MILE
2,1/3/2023,3.0,250,50,3.33,9.99,0.33