#### Data Science Project - Machine Leaning.
Predicating Stroke Population based on 5 different factors.

Factors:
Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity.

####### Data provided by https://data.cdc.gov/
Dataset Files:  Diabetes.cvs
Data Measure: 500 Cities: Diagnosed diabetes among adults aged >=18 years

Capstone: 
Y = (Predicted) Stroke. 
X = (Multiple Factors) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 

ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

Data type/Metrix:
Quantitative/Nemerical Data (Continuous)
Discrete data - Data with final set of vlaues which can be categorized.
Continuous - take any numerical value within a range. 



Data Wranging Process:
*** Determine the issue or problems to be resolved.
0. Getting your data from internal or external sources.
*** Collecting ranges of data.
   *** verifying and due dilligence to make sure the data is valid( check and recheck
       not to miss anything).
   *** Detecting fairness
   *** Elimating and look for bias or outliers because it will effects the outcome.
1. installing and importing the required libraies.
2. Reading the datasets.
3. Examing the datasets.
4. Data Danling, cleaning, formating and documenting the process.
 - shaping the data to answer specific questions:
    Removing unwanted data.
    Renaming data - columns
    Verifying and changing the data type.
    Combing the data or creating new data - rows or columns or combine dataframe.
5. Take a look or snap-shoot of your data (Summary) using histogram().
6. Run Statistic of the data.
7. Using clean data to create your model - test, validate ..ect.
   *** verifying and examing the behavior of the outcome.
   *** re-adjust if needed.
8. Create visualizations and telling a story.
9. Sharing data with your team, other groups or stakeholders.

In [106]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import math 
%metplotlib inline #

In [ ]:
%pip install scikit-learn  --upgrade --force
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split

In [108]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [109]:
# Reading, loading  datasets. 

df = pd.read_csv("500_Cities__Coronary_heart_disease.csv" )

In [110]:
df.shape

(29006, 24)

In [111]:
df.head().T

,0,1,2,3,4
Year,2017,2017,2017,2017,2017
StateAbbr,TX,TX,TX,TX,TX
StateDesc,Texas,Texas,Texas,Texas,Texas
CityName,Abilene,Abilene,Abilene,Abilene,Abilene
GeographicLevel,Census Tract,Census Tract,Census Tract,Census Tract,Census Tract
DataSource,BRFSS,BRFSS,BRFSS,BRFSS,BRFSS
Category,Health Outcomes,Health Outcomes,Health Outcomes,Health Outcomes,Health Outcomes
UniqueID,4801000-48441012200,4801000-48441012700,4801000-48441011600,4801000-48441011000,4801000-48441012802
Measure,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years
Data_Value_Unit,%,%,%,%,%
DataValueTypeID,CrdPrv,CrdPrv,CrdPrv,CrdPrv,CrdPrv
Data_Value_Type,Crude prevalence,Crude prevalence,Crude prevalence,Crude prevalence,Crude prevalence
Data_Value,12.2,10.8,9.9,14.7,8.1
Low_Confidence_Limit,11.5,9.8,9.4,14.0,7.7
High_Confidence_Limit,12.9,11.7,10.5,15.4,8.4
Data_Value_Footnote_Symbol,NaN,NaN,NaN,NaN,NaN
Data_Value_Footnote,NaN,NaN,NaN,NaN,NaN
PopulationCount,"2,229","7,647","2,684","1,209","3,924"
GeoLocation,"(32.4105843984, -99.733829214)","(32.3841887669, -99.7598313124)","(32.4377429049, -99.7511841566)","(32.4546584336, -99.731980542)","(32.408067799, -99.7876762098)"
CategoryID,HLTHOUT,HLTHOUT,HLTHOUT,HLTHOUT,HLTHOUT
MeasureId,DIABETES,DIABETES,DIABETES,DIABETES,DIABETES
CityFIPS,4801000.0,4801000.0,4801000.0,4801000.0,4801000.0
TractFIPS,48441012200.0,48441012700.0,48441011600.0,48441011000.0,48441012802.0
Short_Question_Text,Diabetes,Diabetes,Diabetes,Diabetes,Diabetes

In [112]:
df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [113]:
New_df = df.drop(columns=['Year','StateDesc', 'GeographicLevel','DataSource', 'Category', 'UniqueID', \
    'Data_Value_Unit','DataValueTypeID',  'Measure', 'Data_Value_Footnote_Symbol','Data_Value_Footnote', \
    'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS','Short_Question_Text'])

In [114]:
# New df after dropping unwanted data.
New_df

,StateAbbr,CityName,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,PopulationCount
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"
29004,US,NaN,Crude prevalence,10.8,10.6,11.0,"308,745,538"
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,"308,745,538"

In [115]:
# Verifying data/columns.
New_df.columns

Index(['StateAbbr', 'CityName', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit', 'PopulationCount'],
      dtype='object')

In [117]:
New_df = New_df.rename(columns={'StateAbbr':'States', 'CityName':'City', 'Data_Value_Type':'AgeAdj_Prevalence',  'Data_Value':'Diabetic', 'High_Confidence_Limit':'Pre_Diabetic','Low_Confidence_Limit':'Low_Risk', 'PopulationCount':'Pop_Count' })

In [118]:
New_df

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"
29004,US,NaN,Crude prevalence,10.8,10.6,11.0,"308,745,538"
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,"308,745,538"

In [119]:
New_df.columns

Index(['States', 'City', 'AgeAdj_Prevalence', 'Diabetic', 'Low_Risk',
       'Pre_Diabetic', 'Pop_Count'],
      dtype='object')

In [ ]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   States             29006 non-null  object
 1   City               29004 non-null  object
 2   AgeAdj_Prevalence  29006 non-null  object
 3   Diabetic           28212 non-null  float64
 4   Pre_Diabetic       28212 non-null  float64
 5   Pop_Count          29006 non-null  object
dtypes: float64(2), object(4)
memory usage: 1.3+ MB

In [120]:
# Checking for NaN/NULL and count them.
New_df.isna().sum()

States                 0
City                   2
AgeAdj_Prevalence      0
Diabetic             794
Low_Risk             794
Pre_Diabetic         794
Pop_Count              0
dtype: int64

In [121]:
# Checking for NULL, NaN values

New_df.query("Pre_Diabetic.isna()")

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
9,TX,Abilene,Crude prevalence,NaN,NaN,NaN,6
68,OH,Akron,Crude prevalence,NaN,NaN,NaN,2
99,OH,Akron,Crude prevalence,NaN,NaN,NaN,4
191,NM,Albuquerque,Crude prevalence,NaN,NaN,NaN,4
214,NM,Albuquerque,Crude prevalence,NaN,NaN,NaN,46
...,...,...,...,...,...,...,...
28878,WA,Yakima,Crude prevalence,NaN,NaN,NaN,14
28952,OH,Youngstown,Crude prevalence,NaN,NaN,NaN,11
28996,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,24
29000,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,8
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6

In [122]:
New_df.columns

Index(['States', 'City', 'AgeAdj_Prevalence', 'Diabetic', 'Low_Risk',
       'Pre_Diabetic', 'Pop_Count'],
      dtype='object')

In [123]:
#Dropping NaN values. Make sure to select every columns in the dataframe.
New_df[[ 'States', 'City', 'AgeAdj_Prevalence', 'Diabetic', 'Low_Risk', 'Pre_Diabetic',
'Pop_Count' ]].dropna()

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
28997,AZ,Yuma,Crude prevalence,11.9,11.2,12.6,"5,158"
28998,AZ,Yuma,Crude prevalence,7.4,7.0,7.9,"5,891"
28999,AZ,Yuma,Crude prevalence,10.3,9.7,10.8,"2,922"
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"

In [124]:
# Double check on the NaN
New_df.query("Diabetic.isna()")
New_df

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"
29004,US,NaN,Crude prevalence,10.8,10.6,11.0,"308,745,538"
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,"308,745,538"

In [125]:
#Double check on the NaN NULL
New_df.isna().sum()

States                 0
City                   2
AgeAdj_Prevalence      0
Diabetic             794
Low_Risk             794
Pre_Diabetic         794
Pop_Count              0
dtype: int64

In [126]:
#Verify data type. Need to change pop_count to int.
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   States             29006 non-null  object
 1   City               29004 non-null  object
 2   AgeAdj_Prevalence  29006 non-null  object
 3   Diabetic           28212 non-null  float64
 4   Low_Risk           28212 non-null  float64
 5   Pre_Diabetic       28212 non-null  float64
 6   Pop_Count          29006 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.5+ MB

In [127]:
#Change data type:
# removing the "," from the PopCountByMM values and replace it with nothing than change it from object type to int. 
New_df["Pop_Count"] = New_df["Pop_Count"].str.replace(',','').astype(int)

In [ ]:
#Verify data type again.
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   States             29006 non-null  object
 1   City               29004 non-null  object
 2   AgeAdj_Prevalence  29006 non-null  object
 3   Diabetic           28212 non-null  float64
 4   Pre_Diabetic       28212 non-null  float64
 5   Pop_Count          29006 non-null  int32
dtypes: float64(2), int32(1), object(3)
memory usage: 1.2+ MB

In [128]:
#New_df.sort_values(["States"])
New_df.sort_values(["States", "City"], ascending=[1,0])

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
565,AK,Anchorage,Crude prevalence,7.4,6.9,7.8,4993
566,AK,Anchorage,Crude prevalence,8.9,8.3,9.6,940
567,AK,Anchorage,Crude prevalence,8.2,7.8,8.6,1988
568,AK,Anchorage,Crude prevalence,6.1,5.4,6.8,3381
569,AK,Anchorage,Crude prevalence,7.3,6.7,7.9,4579
...,...,...,...,...,...,...,...
3782,WY,Cheyenne,Age-adjusted prevalence,8.2,8.1,8.4,59466
3783,WY,Cheyenne,Crude prevalence,7.4,6.9,7.9,8090
3784,WY,Cheyenne,Crude prevalence,8.9,8.1,9.7,6260
3785,WY,Cheyenne,Crude prevalence,9.1,8.3,9.9,1835
3786,WY,Cheyenne,Crude prevalence,8.3,7.8,8.9,415

In [ ]:
# Filter and selecting only Age-adjusted prevalence from the dataset.
df_CorHartDis_01 = New_df.query('`AgeAdj_Prevalence` == "Age-adjusted prevalence"')
CorHartDis_01

# This code will do the same
#df_diab_01.loc[df_diab_01.duplicated(subset=['States'])]

In [131]:
# Count dup values.
# df_diab_01.loc[df_diab_01.duplicated(subset=['States'])]
CorHartDis_01.loc[CorHartDis_01.duplicated(subset=['States'])].count()

States               449
City                 449
AgeAdj_Prevalence    449
Diabetic             449
Low_Risk             449
Pre_Diabetic         449
Pop_Count            449
dtype: int64

In [ ]:
# Verify vales for TX/city based on "Age-adjusted prevalence"
CorHartDis_01 = CorHartDis_01.query('`States` == "TX"')
CorHartDis_01

In [ ]:
# Concat State and City name into a NEW column called StateAndCity:
CorHartDis_01 ['StateAndCity'] = CorHartDis_01['States'] + '_' + CorHartDis_01['City']
CorHartDis_01

In [ ]:
# DROPPING the states and city columns after concat:
CorHartDis_01 = CorHartDis_01.drop(columns=['States','City' ])
CorHartDis_01

In [ ]:
CorHartDis_01.columns

In [ ]:
#Reorganize the columns
#Create a new list and re-order the columns.
New_cols = ['StateAndCity','Diabetic', 'Pre_Diabetic', 'Low_Risk', 'Pop_Count']
CorHartDis_01 = CorHartDis_01[New_cols]
CorHartDis_01

CorHartDis_01.to_csv("New_Coronary_heart_disease_X01.csv")

In [ ]:
CorHartDis_01.describe().T

,count,mean,std,min,25%,50%,75%,max
Diabetic,47.0,12.140426,2.549054,8.0,10.4,12.1,13.50,18.3
Pre_Diabetic,47.0,12.287234,2.565458,8.2,10.5,12.2,13.55,18.4
Pop_Count,47.0,262244.468085,387270.025670,67358.0,93528.5,118296.0,221583.00,2099451.0