In [2]:
#pip install pycaret

In [3]:
from pycaret.datasets import get_data
dataset = get_data('mice')

,MouseID,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,...,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N,Genotype,Treatment,Behavior,class
0,309_1,0.503644,0.747193,0.430175,2.816329,5.990152,0.218830,0.177565,2.373744,0.232224,...,0.108336,0.427099,0.114783,0.131790,0.128186,1.675652,Control,Memantine,C/S,c-CS-m
1,309_2,0.514617,0.689064,0.411770,2.789514,5.685038,0.211636,0.172817,2.292150,0.226972,...,0.104315,0.441581,0.111974,0.135103,0.131119,1.743610,Control,Memantine,C/S,c-CS-m
2,309_3,0.509183,0.730247,0.418309,2.687201,5.622059,0.209011,0.175722,2.283337,0.230247,...,0.106219,0.435777,0.111883,0.133362,0.127431,1.926427,Control,Memantine,C/S,c-CS-m
3,309_4,0.442107,0.617076,0.358626,2.466947,4.979503,0.222886,0.176463,2.152301,0.207004,...,0.111262,0.391691,0.130405,0.147444,0.146901,1.700563,Control,Memantine,C/S,c-CS-m
4,309_5,0.434940,0.617430,0.358802,2.365785,4.718679,0.213106,0.173627,2.134014,0.192158,...,0.110694,0.434154,0.118481,0.140314,0.148380,1.839730,Control,Memantine,C/S,c-CS-m

In [5]:
from pycaret.clustering import *

exp_clu101 = setup(dataset, normalize = True, 
                   ignore_features = ['MouseID'],
                   session_id = 123)

In [6]:
kmeans = create_model('kmeans')

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.1191,146.8524,2.0236,0,0,0

In [7]:
kmodes = create_model('kmodes', num_clusters = 6)

,Silhouette,Calinski-Harabasz,Davies-Bouldin,Homogeneity,Rand Index,Completeness
0,0.0257,49.4508,3.8234,0,0,0

In [8]:
kmean_results = assign_model(kmeans)
kmean_results.head()

,MouseID,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,...,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N,Genotype,Treatment,Behavior,class,Cluster
0,309_1,0.503644,0.747193,0.430175,2.816329,5.990152,0.218830,0.177565,2.373744,0.232224,...,0.427099,0.114783,0.131790,0.128186,1.675652,Control,Memantine,C/S,c-CS-m,Cluster 0
1,309_2,0.514617,0.689064,0.411770,2.789514,5.685038,0.211636,0.172817,2.292150,0.226972,...,0.441581,0.111974,0.135103,0.131119,1.743610,Control,Memantine,C/S,c-CS-m,Cluster 1
2,309_3,0.509183,0.730247,0.418309,2.687201,5.622059,0.209011,0.175722,2.283337,0.230247,...,0.435777,0.111883,0.133362,0.127431,1.926427,Control,Memantine,C/S,c-CS-m,Cluster 1
3,309_4,0.442107,0.617076,0.358626,2.466947,4.979503,0.222886,0.176463,2.152301,0.207004,...,0.391691,0.130405,0.147444,0.146901,1.700563,Control,Memantine,C/S,c-CS-m,Cluster 1
4,309_5,0.434940,0.617430,0.358802,2.365785,4.718679,0.213106,0.173627,2.134014,0.192158,...,0.434154,0.118481,0.140314,0.148380,1.839730,Control,Memantine,C/S,c-CS-m,Cluster 1

In [9]:
kmean_results.shape

(1080, 83)

In [10]:
[m for m in ["kmeans","ap","meanshift","sc","hclust","dbscan","optics","birch","kmodes"]]

['kmeans',
 'ap',
 'meanshift',
 'sc',
 'hclust',
 'dbscan',
 'optics',
 'birch',
 'kmodes']

In [18]:
import pandas as pd
jewel_base = pd.read_csv(r"C:\Users\andre\Downloads\jewelry_kmeans (1).csv")

In [22]:
jewel_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            505 non-null    int64
 1   Income         505 non-null    int64
 2   SpendingScore  505 non-null    float64
 3   Savings        505 non-null    float64
 4   Cluster        505 non-null    object
dtypes: float64(2), int64(2), object(1)
memory usage: 19.9+ KB

In [20]:

j_kmeans = get_clusters(jewel_base,model='kmeans',num_clusters=6,ignore_features=['Cluster'])

In [24]:
j_kmeans.Cluster.value_counts()

Cluster 2    155
Cluster 0     83
Cluster 5     74
Cluster 1     73
Cluster 4     61
Cluster 3     59
Name: Cluster, dtype: int64

In [25]:
jewel_base.Cluster.value_counts()

Cluster 0    407
Cluster 1     21
Cluster 2     20
Cluster 4     19
Cluster 5     19
Cluster 3     19
Name: Cluster, dtype: int64

In [27]:
j_kmeans.rename(columns={"Cluster":'New Cluster'},inplace=True)

In [50]:
j_combined[["Cluster","New Cluster"]]

       Cluster New Cluster
0    Cluster 0   Cluster 2
1    Cluster 0   Cluster 2
2    Cluster 0   Cluster 2
3    Cluster 0   Cluster 3
4    Cluster 0   Cluster 2
..         ...         ...
500  Cluster 5   Cluster 1
501  Cluster 3   Cluster 2
502  Cluster 2   Cluster 1
503  Cluster 5   Cluster 1
504  Cluster 5   Cluster 5

[505 rows x 2 columns]

In [53]:
j_combined[["Cluster","New Cluster"]].value_counts()

Cluster    New Cluster
Cluster 0  Cluster 2      136
           Cluster 0       68
           Cluster 3       57
           Cluster 4       54
           Cluster 1       48
           Cluster 5       44
Cluster 3  Cluster 2       19
Cluster 4  Cluster 0       11
Cluster 2  Cluster 5       11
Cluster 5  Cluster 5       10
Cluster 1  Cluster 5        9
           Cluster 1        9
Cluster 2  Cluster 1        8
Cluster 5  Cluster 1        8
Cluster 4  Cluster 4        7
Cluster 1  Cluster 0        2
           Cluster 3        1
Cluster 4  Cluster 3        1
Cluster 5  Cluster 0        1
Cluster 2  Cluster 0        1
dtype: int64

In [48]:
j_combined = pd.concat([jewel_base,j_kmeans[["New Cluster"]]], axis=1)

In [43]:

pd.concat([j_combined[column].value_counts() for column in ["Cluster","New Cluster"]], axis = 1)

           Cluster  New Cluster
Cluster 0      407           83
Cluster 1       21           73
Cluster 2       20          155
Cluster 4       19           61
Cluster 5       19           74
Cluster 3       19           59

In [35]:
j_distinct = j_combined["Cluster",'New Cluster'].value_counts()
print(j_distinct)

KeyError: ('Cluster', 'New Cluster')

In [54]:
j_combined.to_csv("jewellery_two_clusters.csv")